/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */


/* CONTACT FORM CONTAINER: --------------- */
.contact-form{
    background: linear-gradient(150deg, rgb(21, 74, 124), rgb(3, 18, 44));
    background-size: cover;
    background-position: center;
    display: grid;
}
/* --------------------------------------- */



/* HEADLINE: ----------------------------- */
    .title{
        text-align: center;
    }
/* --------------------------------------- */



/* SUBMIT MESSAGE: ----------------------- */
#submitMessage {
    display: none;
    text-align: center;
    font-family: brandon-grotesque, sans-serif;
    grid-area: submitMessage;
}
/* --------------------------------------- */


/* IMAGE SECTION: ------------------------ */
.imgSection__contact{
    background: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    border-right: 8px solid #0077c7;
}
/* --------------------------------------- */

/* CONTACT FORM: ------------------------- */
#contactForm{
    font-family: brandon-grotesque, sans-serif;
}



.inputParent{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
}

.contactInput{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    color: #000;
    border: 0px;
    border-radius: 0px;
}

.textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    color: #000;
    border: 0px;
}

.contactInput:focus,
.textarea:focus{
    outline: 2px solid #000;
}
/* --------------------------------------- */


/* ERROR MESSAGES: ----------------------- */
.errorIcon{
    box-sizing: border-box;
    display: none;
    color: #AE0000;
    text-align: center;

    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translate(-5px,-50%);
    transform: translate(-5px,-50%);
}

.errorIconMessage{
    display: none;
    color: #AE0000;
    text-align: center;
    position: absolute;
    top: 18px;
    right: 10px;
}

.error{
    display: none;
    color:rgb(255, 77, 77);
}
/* --------------------------------------- */



/* GRID: --------------------------------- */
.contactGrid{
    display: grid;
}

.title{
    grid-area: title;
}

.firstName{
    grid-area: firstName;
}

.lastName{
    grid-area: lastName;
}

.email{
    grid-area: email;
}

.topic{
    grid-area: topic;
}

.message{
    grid-area: message;
}

.btn-grid-area{
    grid-area: btn;
}

.btnContactArea{
    border: 0px solid white;
    height: 45px;
    text-transform: uppercase;
    font-family: brandon-grotesque, sans-serif;
}
/* --------------------------------------- */



/* RESPONSIVE CSS: ----------------------- */
/* Mobile: */
@media screen and (max-width: 480px){
    .header__contact{
        background-image: url('../images/contact.jpg');
        height: 40% !important;
        border-bottom: 8px solid #0077c7;
    }

    .contactGrid{
        grid-template-areas: 
            'title'
            'firstName'
            'lastName'
            'email'
            'topic'
            'message'
            'btn'
            'submitMessage'
        ;
        margin: 20px;
        grid-gap: 20px;
    }


    .input-title h5{
        font: 15px;
        font-weight: 400;
    }
    
    .contactInput{
        height: 50px;
        padding: 10px;
        margin: 5px 0px;
    }

    .textarea{
        height: 180px;
        padding: 10px;
        margin: 5px 0px;
    }

    .imgSection__contact{
        display: none;
    }

    .errorIcon,
    .errorIconMessage{
        font-size: 18px;
    }

    #submitMessage{
        margin-bottom: 15px;
    }

    #submitMessage div{
        padding: 5px 0;
    }

}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__contact{
        background-image: url('../images/contact.jpg');
        height: 50% !important;
        border-bottom: 8px solid #0077c7;
    }

    .contactGrid{
        grid-template-areas: 
            'title title'
            'firstName lastName'
            'email topic'
            'message message'
            'btn btn'
            'submitMessage submitMessage'
        ;
        margin: 30px;
        grid-gap: 30px;
    }
    
    .contactSection div h5{
        font-size: 14px;
    }

    .imgSection__contact{
        display: none;
    }


    .input-title h5{
        font: 17px;
        font-weight: 400;
    }

    .contactInput{
        height: 45px;
        padding: 8px;
        margin: 8px 0px;
    }

    .textarea{
        height: 200px;
        padding: 8px;
        margin: 8px 0px;
    }

    .parentBTN__center{
        margin: 10px 0;
    }

    .errorIcon,
    .errorIconMessage{
        font-size: 18px;
    }

    #submitMessage div{
        font-size: 20px;
        padding: 5px 0;
    }

    #submitMessage{
        margin-bottom: 15px;
    }


}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header__contact{
        /* background-image: url('../images/contact_header_slim.jpg'); */
        height: 0.1px !important;
    }

    .contact-form{
        grid-template-columns: 1fr 1.5fr;
        margin: 50px;   
    }

    #submittMessage{
        padding: 20px;
        font-weight: 400;
        font-size: 20px;
    }

    #submitMessage div{
    padding: 10px 0px; 
    }
    
    .contactGrid{
        grid-template-areas: 
            'title title'
            'firstName lastName'
            'email topic'
            'message message'
            'btn btn'
            'submitMessage submitMessage'
        ;
        margin: 50px;
        grid-gap: 50px;
        
    }

    .input-title{
        font-size: 17px;
        font-weight: 400;
    }

    .contactInput{
        height: 50px;
        padding: 5px 10px;
        margin: 8px 0px;
    }

    .textarea{
        height: 250px;
        padding: 10px;
        font-weight: 400;
        margin: 8px 0px;
    }

    #contactForm{
        font-weight: 400;
    }
    
    .textarea{
        grid-column: 2fr;
        width: 100%;
    }

    .errorIcon,
    .errorIconMessage{
        font-size: 18px;
    }
}
/* --------------------------------------- */