/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */





/* RESPONSIVE CSS: ----------------------- */
/* Mobile: */
@media screen and (max-width: 480px){
    .header__contact{
        background-image: url('../images/contact_header_vertical.jpg');
    }

}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__contact{
        background-image: url('../images/contact_header.jpg');
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header__contact{
        background-image: url('../images/contact_header_slim.jpg');
    }
}
/* --------------------------------------- */