/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */


/* CONTACT FORM CONTAINER: --------------- */
.contact-form{
    background: linear-gradient(150deg, rgb(21, 74, 124), rgb(3, 18, 44));
    background-size: cover;
    background-position: center;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-width: 1400px;
}
/* --------------------------------------- */



/* SUBMIT MESSAGE: ----------------------- */
#submitMessage {
    display: none;
    padding: 20px;
    text-align: center;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#submitMessage div{
    padding: 10px 0px; 
}
/* --------------------------------------- */


/* IMAGE SECTION: ------------------------ */
.imgSection__contact{
    background: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    border-right: 8px solid #0077c7;
}
/* --------------------------------------- */

/* CONTACT FORM: ------------------------- */
#contactForm{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
}

.inputParent{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
}

.contactInput{
    width: 100%;
    position: relative;
    height: 50px;
    padding: 5px 10px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    color: #000;
    border: 0px;
}

.textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    color: #000;
    border: 0px;
}

.contactInput:focus,
.textarea:focus{
    outline: 2px solid #000;
}
/* --------------------------------------- */


/* ERROR MESSAGES: ----------------------- */
.errorIcon{
    color: #AE0000;
    position: absolute;
    right: 10px;
    top: 18px;
    text-align: center;
    font-size: 18px;
    display: none;
}

.error{
    color:#AE0000;
    display: none;
}
/* --------------------------------------- */



/* GRID: --------------------------------- */
.contactGrid{
    display: grid;
}

.title{
    grid-area: title;
}

.firstName{
    grid-area: firstName;
}

.lastName{
    grid-area: lastName;
}

.email{
    grid-area: email;
}

.topic{
    grid-area: topic;
}

.message{
    grid-area: message;
}

.btnContactArea{
    grid-area: btn;
    border: 0px solid white;
    height: 45px;
    text-transform: uppercase;
    font-family: brandon-grotesque, sans-serif;
}
/* --------------------------------------- */



/* RESPONSIVE CSS: ----------------------- */
/* Mobile: */
@media screen and (max-width: 480px){
    .header__contact{
        background-image: url('../images/contact_header_vertical.jpg');
    }

    .contactGrid{
        grid-template-columns: 1fr;
        margin: 20px;
        grid-gap: 20px;
    }   

    .imgSection__contact{
        display: none;
    }

}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__contact{
        background-image: url('../images/contact_header_full.jpg');
    }

    .contactGrid{
        grid-template-areas: 
            'title title'
            'firstName lastName'
            'email topic'
            'message message'
            'btn btn'
        ;
        margin: 30px;
        grid-gap: 30px;
    }   

    .imgSection__contact{
        display: none;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header__contact{
        background-image: url('../images/contact_header_slim.jpg');
    }

    .contactGrid{
        grid-template-areas: 
            'title title'
            'firstName lastName'
            'email topic'
            'message message'
            'btn btn'
        ;
        margin: 50px;
        grid-gap: 50px;
        max-width: 800px;
    }
    
    .textarea{
        grid-column: 2fr;
        width: 100%;
    }
}
/* --------------------------------------- */