/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */



/* STANDARD: ----------------------------- */
.CT-wrap{ 
    width: 100%;
    background: rgba(0, 0, 0, 0.377);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 40px 10px;  
    box-sizing: border-box;
    height: 400px;  
}

.CT-wrap__tr{
    box-sizing: border-box;
    background: transparent;
    max-width: 500px;  
}

#CT{
    color: white;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box; 
}

.CT-block{
    box-sizing: border-box;
    padding-left: 10px;
}

.CT-block:first-child{
    padding-left: 0;
}

.CT-letters{
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px; 
    box-sizing: border-box;
}

.CT-numbers{
    font-size: 45px;
    box-sizing: border-box;
    margin: 10px 0;
}
/* --------------------------------------- */



/* LAUNCH PAGE VERSION: ------------------ */
.CT-wrap__launch{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, rgb(0, 153, 255), rgb(1, 46, 78));
    margin-top: 20px;
    color: #FFFFFF;
    box-sizing: border-box;
}

#CT__launch{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    
    box-sizing: border-box;
    width: 100%;
}

#CT__launch div{
    box-sizing: border-box;
    width: 100%;
}

.CT-letters__launch{
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-size: 12px; 
    padding-bottom: 5px; 
}

.CT-numbers__launch{
    font-size: 30px;
    margin-bottom: 0px;
}
/* --------------------------------------- */



/* RESPONSIVE CSS: ----------------------- */
/* Mobile/Small Viewport:  */
@media screen and (max-width: 660px){
    .section-img__launch{
        display: none;
    }

    .CT-wrap__launch{
        padding: 20px 0px;
    }

    .CT-block__launch{
        padding: 10px;
    }
}

/* Tablet/Medium Viewport: */
@media screen and (max-width: 972px) and (min-width: 661px){
    .section-img__launch{
        display: block;
    }

    .CT-wrap__launch{
        padding: 20px 0px;
    }

    .CT-block__launch{
        box-sizing: border-box;
        padding: 0px 5px;
    }

    .CT-block__launch:first-child{
        padding: 0;
    }
}

/* Desktop/Large Viewport: */
@media screen and (min-width: 973px) and (max-width: 1199px){
    .section-img__launch{
        display: none;
    }

    .CT-wrap__launch{
        padding: 20px 0px;
    }

    .CT-block__launch{
        padding: 0px 5%;
    }
}

@media screen and (min-width: 1200px){
    .section-img__launch{
        display: none;
    }

    .CT-wrap__launch{
        padding: 20px 0px;
    }

    .CT-block__launch{
        padding: 17px;
    }
}
/* --------------------------------------- */
