/* COLOUR PALETTE: 
Blue          -  rgb(0, 82, 136)    -  #005288;

Light Black   -  rgb(34, 39, 43)    -  #22272B;
Medium black  -  rgb(24, 28, 31)    -  #181C1F;
Dark black    -  rgb(15, 17, 18)    -  #0F1112;

White         -  rgb(255, 255, 255) -  #FFFFFF;
Black         -  rgb(0,0,0)         -  #000000;

Grey          -  rgb(167, 169, 172)   - #A7A9AC;
Red           -                       - #AE0000;
------------------------------------------ */



/* CONTAINER: ---------------------------- */
.footer-container{
    background-color: #0F1112;
    text-align: center;
    margin: 0;
    display: block;
}

.copyright-container{
    background-color: #000000;
    text-align: center;
    margin: 0;
    display: block;
}

/* Mobile: */
@media screen and (max-width: 480px){
    .footer-container{
        height: 200px;
    }

    .copyright-container{

        padding: 10px;
        font-size: 10px;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .footer-container{
        height: 250px;
        padding: 30px;
    }

    .copyright-container{

        padding: 12px;
        font-size: 12px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .footer-container{
        height: 280px;

    }

    .copyright-container{
        padding: 15px;
        font-size: 15px;
    }
}
/* End of Container: */




/* COPYRIGHT: ---------------------------- */

/* End of Copyright: */
