/* COLOUR PALETTE: 
Blue          -  rgb(0, 82, 136)    -  #005288;

Light Black   -  rgb(34, 39, 43)    -  #22272B;
Medium black  -  rgb(24, 28, 31)    -  #181C1F;
Dark black    -  rgb(15, 17, 18)    -  #0F1112;

White         -  rgb(255, 255, 255) -  #FFFFFF;
Black         -  rgb(0,0,0)         -  #000000;

Grey          -  rgb(167, 169, 172)   - #A7A9AC;
Red           -                       - #AE0000;
------------------------------------------ */



/* TYPOGRAPHY:
Headline
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;

Body 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
------------------------------------------ */



/* RESET DEFAULT STYLES: ----------------- */
body{
    margin: 0;
    padding: 0;
    background-color: #22272B;
    color: #FFFFFF;
}

html{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}



/* GRID & SECTIONS: ---------------------- */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media screen and (max-width: 480px){
    .grid{
        grid-gap: 20px;
        margin: 20px;
    }

    .section__img{
        display: none;
    }
}

@media screen and (max-width: 1199px) and (min-width: 481px){
    .grid{
        
        grid-gap: 30px;
        margin: 30px;
    }

    .section__img{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .grid{
        grid-gap: 50px;
        margin: 50px;
    }
}




/* FONT STYLES: -------------------------- */
h1, h2, h3, h4, h5, h6{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

p, a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

a{
    cursor: pointer;
}

/* Mobile: */
@media screen and (max-width: 480px){
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 35px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 25px;
    } 

    P{
    font-size: 12px;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 35px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 25px;
    } 

    P{
    font-size: 15px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 25px;
    } 

    P{
    font-size: 18px;
    }
}
/* --------------------------------------- */



/* QUESTIONS: ---------------------------- */
.question-section-container{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}



/* Mobile: */
@media screen and (max-width: 480px){
    .question-section-container{
        background-image: url('/../images/questions_mobile.jpg');
        height: 400px;
        display: grid;
        align-items: center;
        justify-content: center;
     }
    

    .question-section{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .question-section h3{
        color: #005288;
        font-size: 30px;
        font-weight: 700;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
.question-section-container{
        background-image: url('/../images/questions_tablet.jpg');
        height: 300px;
    }

    .question-section h3{
        color: #005288;
        font-size: 40px;
        font-weight: 700;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .question-section-container{
        background-image: url('/../images/questions_desktop.jpg');
        height: 550px;
    }

    .question-section h3{
        color: #005288;
        font-size: 50px;
        font-weight: 700;
    }
}
/* --------------------------------------- */



/* HEADER: ------------------------------- */
/* .header-container{
    text-align: center;
} */



/* LINKS: -------------------------------- */
/* .link{
    color: #005288;
    text-decoration: none;
}

.link:hover{
    border-bottom: 1px solid #005288;
    cursor: pointer;
}

.link-white{
    color: #FFFFFF;
}

.link-white:hover{
    border-bottom: 1px solid #FFFFFF;
}

.link-silver{
    color: #A7A9AC;
}

.link-silver:hover{
    border-bottom: 1px solid #A7A9AC;
}

.link__uppercase{
    text-transform: uppercase;
} */



/* BUTTONS: ------------------------------ */
.btn{
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    /* background: linear-gradient(150deg, #006BB1, #002F4E); */
    background: linear-gradient(150deg, rgb(0, 153, 255), rgb(0, 21, 36));
    
    color: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 
        inset 6px 6px 15px rgba(0, 195, 255, 0.3), 
        inset -6px -6px 15px rgba(0, 0, 0, 0.5),
        5px 5px 15px rgba(0, 0, 0, 0.3);
    
    border: 0px solid #000000;
    width: 170px;
    text-transform: uppercase;

    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;

   
}

.btn:hover{
    background: linear-gradient(150deg, #22272B, #0F1112);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.9);   
    cursor: pointer;
} 



/* Mobile: */
@media screen and (max-width: 480px){
    .btn{
        font-size: 18px;
        width: 150px;
    }
    
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .btn{
        font-size: 20px;
        width: 180px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .btn{
        font-size: 25px;
        width: 200px;
    }
}
/* --------------------------------------- */




/* COLOUR PALETTE: 
Blue          -  rgb(0, 82, 136)    -  #005288;

Light Black   -  rgb(34, 39, 43)    -  #22272B;
Medium black  -  rgb(24, 28, 31)    -  #181C1F;
Dark black    -  rgb(15, 17, 18)    -  #0F1112;

White         -  rgb(255, 255, 255) -  #FFFFFF;
Black         -  rgb(0,0,0)         -  #000000;

Grey          -  rgb(167, 169, 172)   - #A7A9AC;
Red           -                       - #AE0000;
------------------------------------------ */