/* SCROLL BAR: --------------------------- */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #22272B;
}
 
::-webkit-scrollbar-thumb {
  background: #0F1112
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* --------------------------------------- */



/* HEADER: ------------------------------- */
.header{
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin-top: 100px;
}

.header__home{
    background-image: url('../images/header3.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.header__about{
    height: 40%;
}
/* --------------------------------------- */



/* HEADLINE: ----------------------------- */
.headline__home{
    border-bottom: 3px solid #FFF;
    padding: 0px 10px;
    text-align: center;  
}

.headline__about{
    margin: 0px 20px 15px 0px;
}
/* --------------------------------------- */



/* SECTION IMAGE ------------------------- */
.section-img__home{
    background: url('../images/home_section.jpg');
}

.section-img__launch{
    background: url('../images/launch_section.jpg');
}

.section-img__rockets{
    background: url('../images/rockets_section.jpg');
    max-height: 864.25px;  
}

.section-img__sites{
    background: url('../images/sites_section.jpg');
}

.section-img__about{
    background: url("../images/about.jpg");
}

.section-img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* --------------------------------------- */



/* GRID: --------------------------------- */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    box-sizing: border-box;
}

.grid__center{
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
/* --------------------------------------- */



/* QUESTIONS: ---------------------------- */
.question-container{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* --------------------------------------- */



/* LINKS: -------------------------------- */
.yt{
    color: #AE0000;
    text-decoration: underline;
    padding: 10px 0;
}

.wiki{
    color: #A7A9AC;
    text-decoration: underline;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.wiki p{

    box-sizing: border-box;
    font-weight: 300 !important;
    font-family: brandon-grotesque, sans-serif;
    font-size: 16px;
}
.yt:hover,
.wiki:hover{
    text-decoration: none;
}
/* --------------------------------------- */



/* BUTTONS: ------------------------------ */
.btn{
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    background: linear-gradient(
        150deg, 
        rgb(56, 215, 255), 
        rgb(2, 103, 219),
        rgb(0, 13, 36));
    box-shadow: 
        inset 6px 6px 15px rgba(0, 195, 255, 0.3), 
        inset -6px -6px 15px rgba(0, 0, 0, 0.5),
        5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.15s;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
}

.btn__simplistic{
    background: transparent;
    border: 1px solid #FFF;
    padding: 15px;
    width: 130px;
    text-align: center;
    transition: .5s;
    
}

.btn__simplistic:hover{
    width: 140px;
    background: #FFF;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}

.btn:hover{  
    background: transparent;
    box-shadow: 
        inset 8px 8px 20px rgba(0, 0, 0, 1),
        inset -4px -4px 8px rgba(255, 255, 255, 0.3);   
    border: 1px solid #FFF;
} 

.btn__hover-dark:hover{
    background: linear-gradient(
        150deg, 
        #22272B, 
        #0F1112);
    border: 0px;
}
/* --------------------------------------- */



/* LOADER: ------------------------------- */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
}

.loader div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: animateloader 1.2s linear infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.loader div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.loader div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.loader div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.loader div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.loader div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.loader div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.loader div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.loader div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.loader div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.loader div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.loader div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes animateloader {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
} 
/* --------------------------------------- */



/* RESPONSIVE CSS: ----------------------- */
/* Mobile/Small Viewport:  */
@media screen and (max-width: 480px){
    .header{
        margin-top: 0;
    }

    .header__launch{
        background-image: url('../images/launch_header_vertical.jpg');
    }

    .header__rockets{
        background-image: url('../images/rockets_header_vertical.jpg');
    }

    .header__sites{
        background-image: url('../images/sites_header_vertical.jpg');
    }

    .header__about{
        background: url("../images/header_about.jpg"); 
        height: 30% !important;
        background-position: 84% 80% !important;   
    }

    .headline{
        margin: 20px 20px 0px 20px;
        text-align: center;
    }

    .headline__home{
        font-size: 40px;
    }

    .btn{
        font-size: 16px;
        width: 150px;
        height: 50px;
        border-radius: 25px;
    }

    .btn__large{
        font-size: 25px;
        width: 220px;
        height: 60px;
        border-radius: 30px;
    }

    .question-container{
        background-image: url('../images/questions_mobile.jpg');
        height: 400px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .question{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .question h3{
        color: #005288;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .question a{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .grid{
        grid-gap: 50px;
        padding: 20px 20px 50px 20px;
    }

    .section img,
    .section h2{
        margin-bottom: 10px;
    }

    .section p{
        margin-bottom: 20px;
    }

    .text-center{
        text-align: center;
    }

    .section-img__home,
    .section-img__launch,
    .section-img__rockets,
    .section-img__sites,
    .section-img__about{
        display: none;
    }

    .CT-block__launch{
        padding: 0px 10px;
    }

    .dd-content__headline{
        font-size: 20px;
    }

    .map{
        height: 200px;
    }
}


/* Tablet/Medium Viewport: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__launch{
        background-image: url('../images/launch_header.jpg');
    }

    .header__rockets{
        background-image: url('../images/rockets_header.jpg');
    }

    .header__sites{
        background-image: url('../images/sites_header.jpg');
    }

    .header__about{
        background: url("../images/header_about.jpg"); 
        background-position: 85% 85% !important;   
    }
    
    .headline{
        margin: 30px 30px 0px 30px;
    }

    .headline__home{
        font-size: 50px;  
    }

    .btn{
        font-size: 18px;
        width: 160px;
        height: 50px;
        border-radius: 25px; 
    }

    .btn__large{
        font-size: 25px;
        width: 220px;
        height: 70px;
        border-radius: 40px;
    }

    .question-container{
        background-image: url('../images/questions_tablet.jpg');
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .question{
        padding: 30px;
    }

    .question h3{
        color: #005288;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .question a{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .grid{
        grid-gap: 30px;
        margin: 30px;
    }

    .header-launch,
    .section-img__home,
    .section-img__rockets,
    .section-img__about{
        display: none;
    }

    .section img,
    .section h2,
    .section p{
        margin-bottom: 15px;
    }

    .CT-block__launch{
        padding: 0px 15px;
    }

    .dd-content__headline{
        font-size: 20px;
    }

    .map{
        height: 220px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header__launch{
        background-image: url('../images/launch_header.jpg');
    }

    .header__rockets{
        background-image: url('../images/rockets_header_slim.jpg');
    }

    .header__sites{
        background-image: url('../images/sites_header_slim.jpg');
    }

    .header__about{
        background: url("../images/header_about.jpg"); 
        background-position: 70% 85% !important;  
        height: 50% !important; 
    }

    .headline{
        margin: 50px 50px 0px 50px;
    }

    .headline__home{
        font-size: 55px;
    }

    .btn{
        font-size: 18px;
        width: 160px;
        height: 50px;
        border-radius: 25px; 
    }

    .btn__large{
        font-size: 25px;
        width: 230px;
        height: 80px;
        border-radius: 40px;
    }

    .question-container{
        background-image: url('../images/questions_desktop.jpg');
        height: 450px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .question{
        padding: 30px;
    }

    .question h3{
        color: #005288;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .question a{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .grid{
        grid-gap: 50px;
        margin: 50px;
    }

    main{
        margin-right: auto;
        margin-left: auto;
        max-width: 1300px;
    }

    .section img,
    .section h2,
    .section p{
        margin-bottom: 20px;
    }

    .CT-block__launch{
        padding: 0px 15px;
    }

    .dd-content__headline{
        font-size: 20px;
    }

    .section-img__launch{
        display: none;
    }

    .map{
        height: 280px;
    }
}