/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */



/* HEADER: ------------------------------- */

/* --------------------------------------- */

/* HEADLINE: ----------------------------- */
.headline__about{
        margin: 0px 20px 20px 0px;
    }


/* RESPONSIVE CSS: ----------------------- */
/* Mobile/Small Viewport: */
@media screen and (max-width: 480px){
    .headline{
        margin: 20px 20px 0px 20px;
        text-align: center;
    }
}

/* Tablet/Medium Viewport: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .headline{
        margin: 30px 30px 0px 30px;
    }
}

/* Desktop/Large Viewport: */
@media screen and (min-width: 1200px){
    .headline{
        margin: 50px 50px 0px 50px;
    }
}
/* --------------------------------------- */








/* COUNTDOWN: ---------------------------- */
.countdown-container{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 150px;
}    

#countdown{
    font-size: 50px;
    color: white;
}
/* --------------------------------------- */



/* GRID & SECTIONS: ---------------------- */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid__center{
    display: grid;
    align-items: center;
    justify-content: center;
}


/* Mobile: */
@media screen and (max-width: 549px){
    .grid{
        grid-gap: 50px;
        padding: 20px 20px 50px 20px;
    }

    .section img{
        margin-bottom: 10px;
    }

    .section h2{
        margin-bottom: 10px;
    }

    .section p{
        margin-bottom: 15px;
    }
}

/* tablet */
@media screen and (max-width: 1199px) and (min-width: 550px){
    .grid{
        grid-gap: 30px;
        margin: 30px;
    }

    .header-launch{
        display: none;
    }

    .section img{
        margin-bottom: 15px;
    }

    .section h2{
        margin-bottom: 5px;
    }

    .section p{
        margin-bottom: 20px;
    }

    
}

@media screen and (min-width: 1200px){
    .grid{
        grid-gap: 50px;
        margin: 50px;
    }

    main{
        margin-right: auto;
        margin-left: auto;
        max-width: 1300px;
    }

    .section img{
        margin-bottom: 15px;
    }

    .section h2{
        margin-bottom: 5px;
    }

    .section p{
        margin-bottom: 25px;
    }
}


/* --------------------------------------- */



/* QUESTIONS: ---------------------------- */
.question-container{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}



/* Mobile: */
@media screen and (max-width: 750px){
    .question-container{
        background-image: url('../images/questions_mobile.jpg');
        height: 400px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .question{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .question h3{
        color: #005288;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .question a{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 751px){
    .question-container{
        background-image: url('../images/questions_tablet.jpg');
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .question{
        padding: 30px;
    }

    .question h3{
        color: #005288;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .question a{
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .question-container{
        background-image: url('../images/questions_desktop.jpg');
        height: 450px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .question{
        padding: 30px;
    }

    .question h3{
        color: #005288;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .question a{
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
/* --------------------------------------- */





/* BUTTONS: ------------------------------ */
.btn{
    /* Font style */
    text-align: center;
    color: #FFFFFF;
        font-weight: 500;

    /* Button style: */
    /* background: linear-gradient(150deg, #006BB1, #002F4E); */
    background: linear-gradient(150deg, rgb(0, 153, 255), rgb(0, 21, 36));
    box-shadow: 
        inset 6px 6px 15px rgba(0, 195, 255, 0.3), 
        inset -6px -6px 15px rgba(0, 0, 0, 0.5),
        5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.btn__large{
    border-radius: 25px;
}

.btn:hover{
    background: linear-gradient(150deg, #22272B, #0F1112);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.9);   
    cursor: pointer;
} 

   .parentBTN__center{
        display: grid;
        align-items: center;
        justify-content: center;
    }



/* Mobile: */
@media screen and (max-width: 480px){
    .btn{
        font-size: 18px;
        width: 150px;
        padding: 10px;
    }

    .btn__large{
        font-size: 25px;
        width: 200px;
        padding: 15px;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .btn{
        font-size: 18px;
        width: 150px;
        padding: 10px;
    }

    .btn__large{
        font-size: 25px;
        width: 200px;
        padding: 15px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .btn{
        font-size: 18px;
        width: 150px;
        padding: 10px;
    }

    .btn__large{
        font-size: 25px;
        width: 200px;
        padding: 15px;
    }
}
/* --------------------------------------- */


/* NOT MY CODE!!!!!!! NEED TO DOCUMENT. The code is free to use */
/* ELEGANT LOADER: ----------------------- */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
}

.loader div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  /* background: #005288; */
  border-radius: 50%;
  animation: animateloader 1.2s linear infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.loader div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.loader div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.loader div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.loader div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.loader div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.loader div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.loader div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.loader div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.loader div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.loader div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.loader div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes animateloader {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
} 
/* --------------------------------------- */