/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */



/* BACKGROUND: --------------------------- */
.header{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
}

.overlay__dark{
    background-color: rgb(15, 17, 18, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.header-wrap{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 10px;
}
/* --------------------------------------- */



/* HEADLINE: ----------------------------- */
.headline__home{
        border-bottom: 3px solid #FFF;
        padding: 0px 10px;
    }
/* --------------------------------------- */



/* COUNTDOWN HOME: ----------------------- */
.countdown-wrap{
    
    /* Center the Loader */
    display: grid;
    align-items: center;
    justify-content: center;
   
}

.countdown-wrap__tr{
    background: transparent;
    /* Center the Loader */
    display: grid;
    align-items: center;
    justify-content: center;
}

#countdown{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 5px;
    margin: 10px 0px;
}

.ct-letters{
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px; 
}

.ct-numbers{
    font-size: 45px;
}
/* --------------------------------------- */



/* CTA BUTTON: --------------------------- */
.home-button{
    display: grid;
    align-items: center;
    justify-content: center;
}
/* --------------------------------------- */



/* SECTION 3: IMG ------------------------ */
.section__home{
    background: url('../images/home_section.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* --------------------------------------- */



/* Mobile: */
@media screen and (max-width: 480px){
    .header__home{
        background-image: url('../images/home_header_vertical.jpg');
    }

    .headline__home{
        font-size: 40px;
    }

    .section__home{
        display: none;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__home{
        background-image: url('../images/home_header.jpg');
    }

    .headline__home{
        font-size: 50px;  
    }

    .section__home{
        display: none;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header__home{
        background-image: url('../images/home_header.jpg');
    }

    .headline__home{
        font-size: 55px;
    }
}