/* COLOUR PALETTE: 
Midnight Blue     -    rgb(0, 82, 136)      -    #005288;

Metallic Silver   -    rgb(167, 169, 172)   -    #A7A9AC;

Chinese Black     -    rgb(15, 17, 18)      -    #0F1112;

Eerie Black       -    rgb(24, 28, 31)      -    #181C1F;

Dark Gunmetal     -    rgb(34, 39, 43)      -    #22272B;

------------------------------------------ */



