/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */



/* HEADLINE: ----------------------------- */
.headline__home{
        border-bottom: 3px solid #FFF;
        padding: 0px 10px;
        text-align: center;  
    }
/* --------------------------------------- */



/* COUNTDOWN HOME: ----------------------- */
.CT-wrap{ 
    width: 100%;
    background: rgba(0, 0, 0, 0.377);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 40px 10px;  
    box-sizing: border-box;
    height: 400px;  
}

.CT-wrap__tr{
    box-sizing: border-box;
    background: transparent;
    max-width: 500px;  
}

#CT{
    color: white;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box; 
}

.CT-block{
    box-sizing: border-box;
    padding-left: 10px;
}

.CT-block:first-child{
    padding-left: 0;
}

.CT-letters{
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px; 
    box-sizing: border-box;
}

.CT-numbers{
    font-size: 45px;
    box-sizing: border-box;
    margin: 10px 0;
}
/* --------------------------------------- */



/* CTA BUTTON: --------------------------- */
.home-button{
    display: grid;
    align-items: center;
    justify-content: center;
}
/* --------------------------------------- */



/* SECTION 3: IMG ------------------------ */
.section__home{
    background: url('../images/home_section.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* --------------------------------------- */



/* Mobile: */
@media screen and (max-width: 480px){
    .headline__home{
        font-size: 40px;
    }

    .section__home{
        display: none;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .headline__home{
        font-size: 50px;  
    }

    .section__home{
        display: none;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .headline__home{
        font-size: 55px;
    }
}