/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */



/* SECTION IMG: -------------------------- */
.section__launch{
    background: url('../images/launch_section.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* --------------------------------------- */



/* NEXT LAUNCH: -------------------------- */
.next-launch-wrap{
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.next-launch{
    background-color: #0F1112;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
/* --------------------------------------- */



/* COUNTDOWN LAUNCH: --------------------- */
.CT-wrap__launch{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    background: linear-gradient(150deg, rgb(0, 153, 255), rgb(1, 46, 78));
    margin-top: 20px;
    color: #FFFFFF;
    box-sizing: border-box;
}

#CT__launch{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    
    box-sizing: border-box;
    width: 100%;
}

.CT-letters__launch{
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-size: 12px; 
    padding-bottom: 5px; 
}

.CT-numbers__launch{
    font-size: 30px;
    margin-bottom: 0px;
}
/* --------------------------------------- */



/* UPCOMING LAUNCH: ---------------------- */
/* --------------------------------------- */



/* COMPLETED LAUNCH: --------------------- */
/* --------------------------------------- */



/* DROP DOWN BUTTONS: -------------------- */
.dd-container{
    margin-top: 20px;
}

.dd-container:first-child{
    margin-top: 0px !important;
}

/* DD BUTTON */
.dd-btn{
    background: 
        linear-gradient(
            90deg, 
            rgb(0, 204, 255), 
            rgb(21, 115, 192),
            rgb(4, 36, 71)
    );
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
    font-size: 22px;
    font-weight: 300;
    text-align: end;
    
}

.dd-btn:hover{
    cursor: pointer;
}

.dd-btn__title{
    text-align: start;
    font-weight: 600;
    color: rgb(0, 25, 75);
    
}

.dd-btn__icon{
    position: relative;
    box-sizing: border-box;
}

.dd-btn__icon-1{
    box-sizing: border-box;
    height: 3px;
    width: 25px;
    background: rgb(0, 204, 255);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

.dd-btn__icon-2{
    box-sizing: border-box;
    width: 3px;
    height: 25px;
    background: rgb(0, 204, 255);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

/* DD CONTENT: */
.dd-content{
    background-color: #0F1112;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.dd-content__panel{
    padding: 20px;
}

.dd-content__title{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1.5px solid rgb(21, 115, 192);
    padding-top: 25px;
    background: 
        linear-gradient(
            90deg, 
            rgb(0, 204, 255), 
            rgb(21, 115, 192)  
        );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dd-content__title:first-child{
    padding-top: 0;
}

.dd-content__description{
    padding-top: 10px;
}

/* TOOGLE: */
.checkbox{
    display: none;
}

.checkbox:not(:checked) ~ .dd-content,
.checkbox:not(:checked) ~ .dd-content-panel{
    height: 0px;
    overflow: hidden;
    padding: 0;  
}

.checkbox:checked ~ .dd-content,
.checkbox:checked ~ .dd-content-panel{
    height: 100%;
}

.checkbox:checked ~ label .dd-btn__icon-1{
    transition: all 1s ease-in-out;
    opacity: 0;
}

.checkbox:checked ~ label .dd-btn__icon-2{
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}
/* End of Drop Down Buttons -------------- */



/* RESPONSIVE CSS: ----------------------- */
/* Mobile/Small Viewport: */
@media screen and (max-width: 480px){
    .header__launch{
        background-image: url('../images/launch_header_vertical.jpg');
    }
}

/* Tablet/Medium Viewport: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__launch{
        background-image: url('../images/launch_header.jpg');
    }

    .CT-block__launch{
        padding: 0px 15px;
    }
}

/* Desktop/Large Viewport: */
@media screen and (min-width: 1200px){
    .header__launch{
        background-image: url('../images/launch_header.jpg');
    }

    .CT-block__launch{
        padding: 0px 15px;
    }
}
/* --------------------------------------- */




/* Sections: */
/* RESPONSIVE CSS: ----------------------- */
/* Mobile/Small Viewport: */
@media screen and (max-width: 480px){
    .section__launch{
        display: none;
    }
}

/* Tablet/Medium Viewport: */
@media screen and (max-width: 1096px) and (min-width: 481px){
    .header__launch{
        background-image: url('../images/launch_header.jpg');
    }
}

/* Desktop/Large Viewport: */
@media screen and (min-width: 1097px){
    .section__launch{
        display: none;
    }
}
/* --------------------------------------- */

