/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */



/* NEXT LAUNCH: -------------------------- */
.next-launch-wrap{
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.next-launch{
    background-color: #0F1112;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.next-launch h2{
    border-bottom: 2px solid rgb(21, 115, 192);
    background: 
        linear-gradient(
            90deg, 
            rgb(0, 204, 255), 
            rgb(101, 113, 228)  
        );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-bottom{
    border-bottom: 2px solid #FFFFFF;
}
/* --------------------------------------- */



/* UPCOMING LAUNCH: ---------------------- */
.upcoming-launch{
    position: relative;
}

.upcoming-launch-wrap{
    max-height: 800px;
    overflow: scroll;
    background: #181C1F; 
    padding: 20px;
}

.show-more{
    background: 
        linear-gradient(
            180deg, 
            transparent,
            #0F1112
    );
   height: 100px;
   position: absolute;
   width: 100%;
   bottom: 100px;
}
/* --------------------------------------- */



/* COMPLETED LAUNCH: --------------------- */
.completed-launch-wrap{
    max-height: 800px;
    overflow: scroll;
    background: #181C1F; 
    padding: 20px;
}
/* --------------------------------------- */