/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */


.grid__launch{
    display: grid;
    grid-template-areas: 
    'nextLaunch nextLaunch'
    'upcomingLaunch compleedLauncht'
    'checkbox checkbox'
    ;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

.launch{
    background: url("../images/header3.png");
    
    background-repeat: no-repeat;
    width: 100%;
       background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-attachment: fixed
}



/* NEXT LAUNCH: -------------------------- */
.next-launch-wrap{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    grid-area: nextLaunch;
}

.next-launch{
    background-color: #0F1112;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.next-launch h2{
    border-bottom: 2px solid rgb(21, 115, 192);
    background: 
        linear-gradient(
            90deg, 
            rgb(0, 204, 255), 
            rgb(101, 113, 228)  
        );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-bottom{
    border-bottom: 2px solid #FFFFFF;
}
/* --------------------------------------- */



/* UPCOMING LAUNCH: ---------------------- */
.upcoming-launch{
    position: relative;
    margin-top: 50px;
}

.upcoming-launch-wrap{
    /* max-height: 800px;
    overflow: scroll; */
    /* background: #181C1F;  */
    /* padding: 20px; */
    grid-area: upcomingLaunch;
    
}

/* .show-more{
    background: 
        linear-gradient(
            180deg, 
            transparent,
            #0F1112
    );
   height: 100px;
   position: absolute;
   width: 100%;
   bottom: 100px;
} */
/* --------------------------------------- */



/* COMPLETED LAUNCH: --------------------- */
.completed-launch{
    margin-top: 50px;
    
}

.completed-launch-wrap{
    /* max-height: 800px;
    overflow: scroll; */
    /* background: #181C1F;  */
    /* padding: 20px; */
    grid-area: completedLaunch;
    border-left: 3px solid #FFF;
}
/* --------------------------------------- */



/* SHOW ALL: ----------------------------- */
.launch-checkbox-1,
.launch-checkbox-2,
.launch-checkbox-3,
.launch-checkbox-4,

.show-more-2,
.show-more-3,
.show-more-4{
    display: none;
    grid-area: checkbox;
}

.show-more{
    grid-area: checkbox;
}

/* First Button */
.launch-checkbox-1:not( :checked) ~ .upcoming-launch,
.launch-checkbox-1:not( :checked) ~ .completed-launch{
    height: 1000px;
    overflow: hidden;
}

.launch-checkbox-1:checked ~ .show-more-2{
    display: block;
}

.launch-checkbox-1:checked ~ .show-more-1{
    display: none;
}

.launch-checkbox-1:checked ~ .upcoming-launch,
.launch-checkbox-1:checked ~ .completed-launch{
    height: 2000px;
    overflow: hidden;
}

/* Second button */
.launch-checkbox-2:checked ~ .show-more-3{
    display: block;
}

.launch-checkbox-2:checked ~ .show-more-2{
    display: none;
}



.launch-checkbox-2:checked ~ .upcoming-launch,
.launch-checkbox-2:checked ~ .completed-launch{
    height: 3000px;
    overflow: hidden;
}

/* Third button */
.launch-checkbox-3:checked ~ .show-more-4{
    display: block;
}

.launch-checkbox-3:checked ~ .show-more-3{
    display: none;
}


.launch-checkbox-3:checked ~ .upcoming-launch,
.launch-checkbox-3:checked ~ .completed-launch{
    height: 4000px;
    overflow: hidden;
}

/* Fourth button */
.launch-checkbox-4:checked ~ .show-more-4{
    display: none;
}


.launch-checkbox-4:checked ~ .upcoming-launch,
.launch-checkbox-4:checked ~ .completed-launch{
    height: 100%;
    overflow: auto ;
}

/* --------------------------------------- */