/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */


/* HEADER: ------------------------------- */
/* --------------------------------------- */


/* HEADLINE: ----------------------------- */
/* --------------------------------------- */



/* SECTION IMG: -------------------------- */
.section__launch{
    background: url('../images/launch_section.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* --------------------------------------- */

/* COUNTDOWN LAUNCH: --------------------- */
.countdown-wrap{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    background: linear-gradient(150deg, rgb(0, 153, 255), rgb(1, 46, 78));
    margin-top: 20px;
    color: #FFFFFF;
}

#countdown__launch{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 5%;
}

.ct-letters__launch{
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    font-size: 12px; 
    padding-bottom: 5px; 
}

.ct-numbers__launch{
    font-size: 30px;
    margin-bottom: 0px;
}
/* --------------------------------------- */


/* NEXT LAUNCH: -------------------------- */
.next-launch{
    background-color: #0F1112;
    padding: 20px;

}

.border-bottom{
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 5px;
}

.border-bottom__below{
    margin-bottom: 20px;
}

.details{
    margin-top: 15px;
}
/* --------------------------------------- */



/* UPCOMING LAUNCH: ---------------------- */
/* --------------------------------------- */



/* COMPLETED LAUNCH: --------------------- */
/* --------------------------------------- */



/* DROP DOWN BUTTONS: -------------------- */
.dd-btn-container{
    margin-top: 20px;
}

.dd-btn{
    background-color: #005288;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
    font-size: 22px;
    font-weight: 300;
    text-align: end;
}

.dd-btn-content{
    background-color: #0F1112;
    padding: 20px;
    display: none;
}

.checkbox{
    display: none;
}

.checkbox:checked ~ .dd-btn-content{
    display: block;
}



.dd-btn h6{
    text-align: start;
}

.fa-minus{
    display: none;
}

.dd-btn:hover{
    cursor: pointer;
}
/* --------------------------------------- */


/* Mobile: */
@media screen and (max-width: 480px){
    .header__launch{
        background-image: url('../images/launch_header_vertical.jpg');
    }

    .headline{
        margin: 20px;
    }

    .section__launch{
        display: none;
    }

}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__launch{
        background-image: url('../images/launch_header.jpg');
    }

    .headline{
        margin: 30px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header__launch{
        background-image: url('../images/launch_header.jpg');
    }

    .headline{
        margin: 50px;
    }

    .section__launch{
        display: none;
    }
}