/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */


/* Header: ------------------------------- */
.header-launch{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
}


/* Mobile: */
@media screen and (max-width: 480px){
    .header-launch{
        background-image: url('/../images/launch_header_vertical.jpg');
        height: 900px;
    }

    .image-section__tablet{
        display: none;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header-launch{
        background-image: url('/../images/launch_header.jpg');
        height: 924px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header-launch{
        background-image: url('/../images/launch_header.jpg');
        height: 937px;
    }

    .image-section__tablet{
        display: none;
    }
}
/* --------------------------------------- */



/* NEXT LAUNCH: -------------------------- */
.next-launch{
    background-color: #0F1112;
    padding: 20px;
}

.countdown{
    width: 100%;
    background-color: #005288;
    height: 80px;
    margin-top: 20px;
    color: #FFFFFF;
}

.border-bottom{
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 5px;
}

.border-bottom__below{
    margin-bottom: 20px;
}


/* Mobile: */
@media screen and (max-width: 480px){

}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){

}

/* Desktop: */
@media screen and (min-width: 1200px){

}
/* --------------------------------------- */



/* UPCOMING LAUNCH: ---------------------- */


/* Mobile: */
@media screen and (max-width: 480px){

}



/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){

}



/* Desktop: */
@media screen and (min-width: 1200px){

}
/* --------------------------------------- */



/* COMPLETED LAUNCH: --------------------- */


/* Mobile: */
@media screen and (max-width: 480px){

}



/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){

}



/* Desktop: */
@media screen and (min-width: 1200px){

}
/* --------------------------------------- */





/* DROP DOWN BUTTONS: -------------------- */
.dd-btn-container{
    margin-top: 20px;
}



.dd-btn-content{
    background-color: #0F1112;
    padding: 20px;
    top:0;
}

.dd-btn{
    background-color: #005288;
    
    
    
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;

    font-size: 22px;
    font-weight: 300;
    text-align: end;
}

.dd-btn h6{
    text-align: start;
}

.fa-minus{
    display: none;
}

.dd-btn:hover{
    cursor: pointer;
}


/* Mobile: */
@media screen and (max-width: 480px){

}



/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){

}



/* Desktop: */
@media screen and (min-width: 1200px){

}
/* --------------------------------------- */