/* CSS IMPORTS: -------------------------- */

@import url('font-styles.css');

@import url('global-styles.css');
@import url('about.css');
@import url('contact.css');
@import url('sites.css');
@import url('rockets.css');
@import url('launch.css');
@import url('home.css');
@import url('footer.css');
@import url('nav.css');
/* --------------------------------------- */



/* FONT IMPORTS: ------------------------- */
@import url("https://use.typekit.net/enq2msv.css");
/* --------------------------------------- */



/* RESET DEFAULT STYLES: ----------------- */
body{
    margin: 0;
    padding: 0;
    background-color: #22272B;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container{
    margin-top: auto;
    margin-left: auto;
    max-width: 1600px;
}

img{
    width: 100%;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}
/* --------------------------------------- */