/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */


/* CSS IMPORTS: -------------------------- */
@import url('contact-form.css');
@import url('drop-down.css');
@import url('countdown.css');
@import url('font-styles.css');
@import url('global-styles.css');
@import url('launch.css');
@import url('footer.css');
@import url('nav.css');
/* --------------------------------------- */



/* FONT IMPORTS: ------------------------- */
@import url("https://use.typekit.net/enq2msv.css");
/* --------------------------------------- */



/* RESET DEFAULT STYLES: ----------------- */
body{
    margin: 0;
    padding: 0;
    background-color: #22272B;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main-container{
    margin-top: 0px;
    padding-top: 0px;
    display: block;
    margin-top: auto;
    margin-left: auto;
    max-width: 1600px;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}
/* --------------------------------------- */