/* CSS IMPORTS: -------------------------- */
@import url('global-styles.css');
@import url('about.css');
@import url('contact.css');
@import url('sites.css');
@import url('rockets.css');
@import url('launch.css');
@import url('home.css');
@import url('footer.css');
@import url('nav.css');
/* --------------------------------------- */



/* FONT IMPORTS: ------------------------- */
@import url("https://use.typekit.net/enq2msv.css");

/* --------------------------------------- */



/* MEDIA QUERY TEMPLATE: ----------------- */
/* Basing my breakpoints on the navigation bars. The content will be responsive with
   the grid system. */



/* Mobile: */
@media screen and (max-width: 480px){

}



/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){

}



/* Desktop: */
@media screen and (min-width: 1200px){

}