/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -  rgb(174, 0, 0)     - #AE0000;
------------------------------------------ */



/* TOP NAVIGATION BAR: ------------------- */
.top-nav-container{
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    color: #FFF;
    background: linear-gradient(150deg, rgb(29, 101, 163), rgb(8, 10, 10));
    position: fixed;
    position: -webkit-sticky; /* safari */
    top: 0;
}

.top-nav-container__transparent{
    width: 100%;
    height: 100px;
    color: #FFF;
    background-color: transparent;
    position: absolute;
    /* border-bottom: 1px solid rgba(255, 255, 255, 1); */
}

.top-nav-container__black{
    width: 100%;
    height: 100px;
    color: #FFF;
    background-color: #000;
}

.top-nav{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
}

.logo{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
/* --------------------------------------- */


/* DESKTOP MENU: ------------------------- */
.desktop-menu{
    text-align: right;
}

.desktop-menu a{
    display: inline-block;
    line-height: 100px;  
    height: 100px;
}

.desktop-menu a div{
    color: #FFFFFF;
    text-decoration: none;
    height: 100px;
}

.desktop-menu a div:hover{
    background: rgb(0, 82, 136);
}
/* End of Desktop Menu ------------------- */



/* TABLET MENU: -------------------------- */
.tablet-menu div{
    float: right;
    padding: 0px 20px;
    text-align: center;
}




/* End of Tablet Menu -------------------- */


/* ACTIVE: ------------------------------- */
#active{
    background: rgb(0, 82, 136, 0.5);
}
/* --------------------------------------- */


/* MOBILE NAVIGATION BAR: ---------------- */
.mobile-nav{
    width: 100%;
    height: 80px;
    color: #FFF;
    background-color: #0F1112;
    position: fixed;
    bottom: 0;   
    text-align: center;
}

.hamburger-container{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.hamburger-container:hover{
    cursor: pointer;
}

#hamburger{
    font-size: 40px;
    padding: 20px 0;
}
/* -------------------------------------- */



/* MOBILE MENU BLOCK: ------------------- */
#mobile-block-container{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #0F1112;
    color: #FFF;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.mobile-block{
    height: 100%;
    display: grid;
    grid-template: 
        "logo"
        "menu"
        "icon";
}

.mobile-block-logo{
    text-align: center;
    grid-area: logo;
}

.mobile-block-logo img{
    width: 70%;
    padding: 40px;
}

.mobile-menu{
    grid-area: menu;
    align-self: center;
}

.mobile-menu a {
  color: white;
  background-color: #0F1112;  
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.mobile-menu a:hover{
    background-color: #FFF;
    color: #0F1112;
}

.mobile-menu a:hover {
  background-color: #ddd;
  color: black;
}

.icon__menu-close{
    text-align: center;
    font-size: 40px;
    align-self: end;
    grid-area: icon;
    padding: 20px 0;
}

.icon__menu-close:hover{
    cursor: pointer;
}
/* --------------------------------------- */



/* RESPONSIVE: --------------------------- */
/* Mobile: */
@media screen and (max-width: 480px){
    .top-nav-container, .top-nav-container__transparent{
        display: none;
    }

}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .mobile-nav{
        display: none;
    }

    .desktop-menu{
        display: none;
    }

    .top-nav{
        padding-left: 20px;
        grid-template-columns: 2fr 1fr;
    }

    .logo{
        max-width: 380px;
    }

    #hamburger{
        font-size: 40px;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .mobile-nav{
        display: none;
    }

    .tablet-menu{
        display: none;
    }

    .top-nav{
        padding-left: 20px;
    }

    .desktop-menu a div{
        font-size: 20px;
        padding: 0px 20px;
    }
}
/* --------------------------------------- */