/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -  rgb(174, 0, 0)     - #AE0000;
------------------------------------------ */



/* TOP NAVIGATION BAR: ------------------- */
.top-nav-container{
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    color: #FFF;
    background: linear-gradient(150deg, rgb(29, 101, 163), rgb(8, 10, 10));
    position: fixed;
    position: -webkit-sticky; /* safari */
    top: 0;
    z-index: 999;
    box-sizing: border-box;
}

.top-nav-container__transparent{
    width: 100%;
    height: 100px;
    color: #FFF;
    background-color: transparent;
    position: absolute;
    /* border-bottom: 1px solid rgba(255, 255, 255, 1); */
    z-index: 999;
    box-sizing: border-box;
}


.top-nav{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 3fr;
    box-sizing: border-box;
    height: 100px;
}

.logo{
    width: 70%;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
}

.logo:hover{
    transform: rotate(10deg);
    overflow: hidden;
}
/* --------------------------------------- */


/* DESKTOP MENU: ------------------------- */
.desktop-menu{
    text-align: right;
    box-sizing: border-box;
}

.desktop-menu a{
    display: inline-block;
    line-height: 100px;  
    height: 100px;
}

.desktop-menu a div{
    color: #FFFFFF;
    text-decoration: none;
    height: 100px;
}

.desktop-menu a div:hover{
    background: rgb(0, 82, 136);
}

#desktop-active{
    background: rgb(0, 82, 136, 0.5);
}

/* Home Menu: */
.desktop-menu-home{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.desktop-menu-home a:last-child:hover{
    overflow: hidden;
}

.desktop-menu-home a{
    box-sizing: border-box;
    display: inline;
}

.desktop-menu-home a div{
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.desktop-menu-home a div:hover{
    font-size: 27px;
    font-weight: 500; 
    transform: rotate(10deg);    
}
/* End of Home Menu */
/* End of Desktop Menu ------------------- */



/* TABLET MENU: -------------------------- */
#cross{
    display: none;
}

#tablet-menu{
    background: linear-gradient(180deg, rgb(29, 101, 163), rgb(8, 10, 10));
    float: right;
    top: 100px;
    right: -250px;
    height: 100%;
    position: fixed;
    top: 100px;
    width: 250px;
    transition: 0.4s;
    overflow: scroll;
    z-index: 888;
    
}

.tablet-menu-list a{
    width: 100%;
}

.tablet-menu-list a div:hover{
    color: #000;
    background: #FFF;
}

.tablet-menu-list a div{
    padding: 20px 30px;
}

#tablet-active div{
    background-color: #FFF;
    color: #000;
}
/* End of Tablet Menu -------------------- */



/* MOBILE NAVIGATION BAR: ---------------- */

.mobile-nav{
    transition: 0.5s;
    width: 100%;
    height: 80px;
    color: #FFF;
    background-color: #0F1112;
    box-shadow: 0px -5px 10px #00000050;
    background: linear-gradient(150deg, rgb(29, 101, 163), rgb(8, 10, 10));
    position: fixed;
    bottom: 0;   
    text-align: center;
    z-index: 888;
}

.hamburger-container{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.hamburger-container:hover{
    cursor: pointer;
}

#hamburger{
    font-size: 40px;
    padding: 20px 0;
}
/* -------------------------------------- */



/* MOBILE MENU BLOCK: ------------------- */
#mobile-block-container{
    display: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(29, 101, 163), rgb(8, 10, 10));
    color: #FFF;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.mobile-block{
    height: 100%;
    display: grid;
    grid-template: 
        "logo"
        "menu"
        "icon";
}

.mobile-block-logo{
    text-align: center;
    grid-area: logo;
}

.mobile-block-logo img{
    width: 70%;
    padding: 40px;
}

.mobile-menu{
    grid-area: menu;
    align-self: center;
    width: 100%;
}

.mobile-menu a {
  color: white;
  background-color: transparent; 
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

#mobile-active{
    background-color: #FFFFFF;
    color: #000000;
}


.mobile-menu a:hover{
    background-color: #FFF;
    color: #0F1112;
}



.icon__menu-close{
    text-align: center;
    font-size: 40px;
    align-self: end;
    grid-area: icon;
    padding: 20px 0;
}

.icon__menu-close:hover{
    cursor: pointer;
}
/* --------------------------------------- */



/* RESPONSIVE: --------------------------- */
/* Mobile: */
@media screen and (max-width: 480px){
    .top-nav-container, 
    .top-nav-container__transparent, 
    .tablet-menu{
        display: none;
    }
}

/* Tablet: */
@media screen and (max-width: 979px) and (min-width: 481px){
    .mobile-nav{
        display: none;
    }

    .desktop-menu,
    .desktop-menu-home{
        display: none;
    }

    .top-nav{
        padding-left: 20px;
        grid-template-columns: 2fr 1fr;
        
    }

    .logo{
        max-width: 380px;
    }

    .icon-container{
        text-align: right;
        padding: 0px 20px 0px 0px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        width: auto;
        font-size: 40px;
        cursor: pointer;
    }
}

/* Desktop: */
@media screen and (min-width: 980px){
    .mobile-nav,
    .tablet-menu,
    .icon-container{
        display: none;
    }

    .top-nav{
        padding-left: 20px;
    }

    .desktop-menu a div,
    .desktop-menu-home a div{
        font-size: 20px;
        padding: 0px 20px;
    }
}
/* --------------------------------------- */