/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -  rgb(174, 0, 0)     - #AE0000;
------------------------------------------ */



/* TOP NAVIGATION BAR: ------------------- */
.top-nav-container{
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    color: #FFF;
    background: linear-gradient(150deg, rgb(29, 101, 163), rgb(8, 10, 10));
    position: fixed;
    position: -webkit-fixed; /* safari */
    top: 0;
    z-index: 999;
    box-sizing: border-box;
}

.top-nav-container__tr{
    width: 100%;
    height: 100px;
    color: #FFF;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    box-sizing: border-box;
}


.top-nav{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 3fr;
    box-sizing: border-box;
    height: 100px;
}

.logo{
    width: 70%;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
}

.logo__animation:hover{
    transform: rotate(10deg);
    overflow: hidden;
}
/* --------------------------------------- */


/* DESKTOP MENU: ------------------------- */
.desktop-menu{
    text-align: right;
    box-sizing: border-box;
}

.desktop-menu a{
    display: inline-block;
    line-height: 100px;  
    height: 100px;
}

.desktop-menu a div{
    color: #FFFFFF;
    text-decoration: none;
    height: 100px;
}

.desktop-menu a div:hover{
    background: rgb(0, 82, 136);
}

#desktop-active{
    background: rgb(0, 82, 136, 0.5);
}

/* Home Menu: */
.desktop-menu-home{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.desktop-menu-home a:last-child:hover{
    overflow: hidden;
}

.desktop-menu-home a{
    box-sizing: border-box;
    display: inline;
}

.desktop-menu-home a div{
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.desktop-menu-home a div:hover{
    font-size: 27px;
    font-weight: 500; 
    transform: rotate(10deg);    
}
/* End of Desktop Menu ------------------- */





/* BOTTOM NAVIGATION BAR: ---------------- */
/* Bar: */
.bottom-nav-wrap{
    background: 
        linear-gradient(
            150deg, 
            rgb(29, 101, 163), 
            rgb(8, 10, 10)
        );
    box-shadow: 
        0px -5px 10px #00000050;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;   
    transition: 0.5s;
    z-index: 888;
}

.bottom-nav-wrap:hover{
    cursor: pointer;
}

/* Hamburger Icon */
.mobile-icon__open{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    margin: 0 20px;
}

.mobile-icon__open div{
    margin: 6px 0;
    width: 60px;
    height: 6px;
    background: white;
    border-radius: 10px;
}
/* -------------------------------------- */



/* MOBILE MENU BLOCK: ------------------- */
/* Wrap */
#mobile-block-wrap{
    display: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(29, 101, 163), rgb(8, 10, 10));
    color: #FFF;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999;
    box-sizing: border-box;
}


/* Block */
.mobile-block{
    display: grid;
    grid-template-areas: 
        "logo"
        "menu"
        "icon";
    box-sizing: border-box;
    position: relative;
    height: 100%;
}


/* Logo */
.mobile-block__logo{
    text-align: center;
    grid-area: logo;
    padding: 20px;
}


/* Menu list: */
.mobile-menu{
    grid-area: menu;
    align-self: center;
    width: 100%;
}

.mobile-menu a {
  color: white;
  background-color: transparent; 
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.mobile-menu a:hover{
    background-color: #FFFFFF;
    color: #0F1112;
}

#mobile-active{
    background-color: #FFFFFF;
    color: #000000;
}


/* Closing Icon */
.mobile-icon__close{
    box-sizing: border-box;
    grid-area: icon;
    height: 80px;
    width: 80px;
    margin-bottom: 50px;
    position: relative !important;
    justify-self: center;
    align-self: end;
}

.mobile-icon__close:hover{
    cursor: pointer;
}

.mobile-icon__close div{
    width: 60px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    display: grid;
    justify-self: center;
    align-self: end;
} 

.close__line-1{
    position: absolute;
    transform: rotate(45deg);
    margin: 0;
}

.close__line-2{
    position: absolute;
    transform: rotate(-45deg);
    margin: 0;
}
/* --------------------------------------- */



/* RESPONSIVE: --------------------------- */
/* Mobile: */
@media screen and (max-width: 480px){
    .top-nav-container, 
    .top-nav-container__tr{
        display: none;
    }
}

/* Tablet: */
@media screen and (max-width: 1202px) and (min-width: 481px){
    .bottom-nav-wrap{
        display: none;
    }

    .desktop-menu,
    .desktop-menu-home{
        display: none;
    }

    .top-nav{
        padding-left: 20px;
        grid-template-columns: 2fr 1fr;
        
    }

    .logo{
        max-width: 380px;
    }

    .icon-container{
        text-align: right;
        padding: 0px 20px 0px 0px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        width: auto;
        font-size: 40px;
        cursor: pointer;
    }

    .icon-container div{
        justify-self: end;
    }
}

/* Desktop: */
@media screen and (min-width: 1203px){
    .bottom-nav-wrap,
    .icon-container{
        display: none;
    }

    .top-nav{
        padding-left: 20px;
    }

    .desktop-menu a div,
    .desktop-menu-home a div{
        font-size: 20px;
        padding: 0px 20px;
    }
}
/* --------------------------------------- */