/* COLOUR PALETTE: 
Blue         -  rgb(0, 82, 136)    - #005288;
Light Black  -  rgb(34, 39, 43)    - #22272B;
Medium black -  rgb(24, 28, 31)    - #181C1F;
Dark black   -  rgb(15, 17, 18)    - #0F1112;
White        -  rgb(255, 255, 255) - #FFFFFF;
Black        -  rgb(0,0,0)         - #000000;
Grey         -  rgb(167, 169, 172) - #A7A9AC;
Red          -                     - #AE0000;
------------------------------------------ */



/* SECTION IMG: -------------------------- */
.section__rockets{
    background: url('../images/rockets_section.jpg');
    background-repeat: no-repeat;
    width: 100%;
    max-height: 864.25px;
    background-size: cover;
    background-position: center;
}
/* --------------------------------------- */



/* VECHILES: ----------------------------- */
.vehicle-wrap{
    padding: 20px;
}

.vehicle-headline{
    font-size: 25px;
    padding-bottom: 20px;
}

.vehicle-title{
    font-size: 18px;
    
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.vehicle-number{
    padding-bottom: 20px;
    font-weight: 100;
}
/* --------------------------------------- */



/* ROADSTER: ----------------------------- */
.roadster{
    background-color: #0F1112;
}

.yt{
    color: #AE0000;
    text-decoration: underline;
    padding-bottom: 10px;
}

.wiki{
    color: #A7A9AC;
    text-decoration: underline;
}

.yt:hover,
.wiki:hover{
    text-decoration: none;
}
/* --------------------------------------- */


/* RESPONSIVE CSS: ----------------------- */
/* Mobile: */
@media screen and (max-width: 480px){
    .header__rockets{
        background-image: url('../images/rockets_header_vertical.jpg');
    }

    .section__rockets{
        display: none;
    }
}

/* Tablet: */
@media screen and (max-width: 1199px) and (min-width: 481px){
    .header__rockets{
        background-image: url('../images/rockets_header.jpg');
    }

    .section__rockets{
        display: none;
    }
}

/* Desktop: */
@media screen and (min-width: 1200px){
    .header__rockets{
        background-image: url('../images/rockets_header_slim.jpg');
    }
}
/* --------------------------------------- */